@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inter (Sans-serif) - Variable Font */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Playfair Display (Serif) */
@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    font-weight: 350;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  p {
    margin-bottom: 1em;
    line-height: 1.7em;
  }
}

.prose table td:first-child,
.prose table th:first-child {
  min-width: 70px;
  white-space: nowrap;
  padding-right: 1rem;
}

.prose table th,
.prose table td {
  @apply border-gray-300 dark:border-gray-600;
}

@layer components {
  .bordered {
    @apply border-2 border-gray-900 dark:border-gray-200
  }

  .btn {
    @apply inline-flex items-center justify-center rounded-none font-medium transition-colors focus:outline-none disabled:opacity-50 disabled:pointer-events-none bg-transparent text-gray-900 dark:text-gray-200 border-2 border-gray-900 dark:border-gray-200 px-4 py-2 text-sm hover:underline;
  }

  .light {
    @apply text-gray-900 dark:text-gray-200 border-gray-900 dark:border-gray-200 placeholder-gray-900 dark:placeholder-gray-200
  }

  .btn-sm {
    @apply text-sm px-3 py-1.5;
  }

  .btn-lg {
    @apply text-base px-5 py-2.5;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
  }
}