@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Playfair Display (Serif) */
@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@layer base {
  body {
    font-family: 'Playfair Display', serif;
    font-weight: 350;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-semibold;
  }

  h1 {
    @apply text-4xl
  }

  h2 {
    @apply text-3xl
  }

  h3 {
    @apply text-xl
  }

  h4 {
    @apply text-lg
  }

  p {
    margin-bottom: 1em;
    line-height: 1.7em;
  }

  .underline {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

}

.prose table td:first-child,
.prose table th:first-child {
  min-width: 70px;
  white-space: nowrap;
  padding-right: 1rem;
}

@layer components {
  .bordered {
    @apply border-2 border-lightfg dark:border-darkfg
  }

  .btn {
    @apply inline-flex px-4 py-2.5 items-center justify-center font-medium font-sans no-underline transition-colors bg-white/60 dark:bg-white/10 rounded-full shadow-lg hover:bg-white/90 dark:hover:bg-white/20 focus:outline-lightfg placeholder-lightfg dark:placeholder-darkfg
  }

  .btn-sm {
    @apply text-sm px-3 py-1.5;
  }

  .btn-lg {
    @apply text-base px-6 py-3;
  }

  .home-section {
    @apply mb-16 max-w-7xl mx-auto px-4;

    header {
      @apply flex justify-between items-center mb-3;

      h2 {
        @apply mb-2
      }
    }

    .subtitle {
      @apply mb-8 text-lg font-sans;
    }

    .article-grid {
      @apply grid mb-0 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4;
    }

    .image-grid {
      @apply grid grid-cols-3 gap-4 mb-6;
      height: 300px;

      img {
        @apply h-full object-cover rounded-lg;
        min-width: 0;
      }
    }
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
  }
}