---
import { getCollection } from 'astro:content';
import '../styles/globals.css';
import { HomePage } from '../components/HomePage';
import SiteHead from '../components/SiteHead.astro';

const articles = (await getCollection('articles')).map(entry => ({
  title: entry.data.title,
  image: entry.data.image,
  tags: Array.isArray(entry.data.tags) ? entry.data.tags : (entry.data.tags ? [entry.data.tags] : []),
  date: entry.data.date,
  body: entry.body,
  slug: entry.slug,
}));
---

<html lang="en" class="">
  <head>
    <SiteHead title="Articles" />
  </head>
  <!-- <body class="bg-lightbg dark:bg-darkbg text-gray-900 dark:text-gray-200 transition-colors"> -->
  <body class="dark bg-darkbg transition-colors">
    <HomePage client:load articles={articles} />
  </body>
</html>
